@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #fff;
}

body {
  min-height: 100vh;
  background-color: dodgerblue;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*
  align-items: center;
  */
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

.parentdiv {
  border: 2px solid green;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.imgthumbnail {
  width: 75px;
}

.imgmidsize {
  width: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  /*
    align-items: center;
    flex-wrap: wrap;
  */

  width: 65%;
  border: 6px solid orange;
}

.logincontainer {
  display: flex;
  flex-direction: column;
  /*
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  */

  width: 65%;
  border: 6px solid rgb(189, 172, 172);

  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 300px;
  margin-top: 150px;
}

.content {
  display: flex;
}

.remove-roles, .add-roles {
  border-radius: 5px;
  border: 1px solid lightblue;
  background-color: yellowgreen;
  margin-bottom: 20px;
}

.remove-roles:hover, .add-roles:hover {
  cursor: pointer;
  background-color: lightblue;;
}

.container1 {
  display: flex;
  /*
align-items: center;
 width: 95%;
  */
  flex-direction: column;

  flex-wrap: wrap;

  border: 3px solid violet;
 
}

.addUserForm {
  /*
    flex: 0 0 10em;
  */
  display: flex;
  width: 100%;
  border: 1px solid red;

  flex-direction: column;
}

.user-detail {
  display: flex;
}

.registerForm {
  /*
  flex: 0 0 10em;
  */
  display: flex;

  border: 1px solid red;
  flex-direction: column;
}

.homeLinks {
  color: rgb(14, 177, 231);
  border-right: 1px solid gray;
  padding-right: 15px;
}

.firstNav {
  background-color: grey;
}
.homeLinks:hover {
  cursor: pointer;
}

.userpass {
  max-width: 100px;
  overflow: hidden;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: #fff;
}
/*
input[type="text"],
*/
input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

@media only screen and (max-width: 1200px) {
  .leftSide button {
    display: flex;
  }
}

@media only screen and (min-width: 850px) {
  /* if the screen size is above 850px, the loging form size is fixed */
  .logincontainer {
    flex: 0 0 30rem;
  }

  .container {
    flex: 0 0 30rem;
  }
}

@media only screen and (max-width: 850px) {
}

@media only screen and (max-width: 750px) {
}

@media only screen and (max-width: 650px) {
  .navBar .leftSide button {
    display: flex;
  }
}
